<footer class="site-footer">

  <div class="wrap">


    <div class="footer-col-1 column">
<img src="{{ sitebase.url }}/img/shibumi_emblem.jpg" alt="nullday logo"> 
</div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i> {{ site.github_username}} 
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i> {{ site.twitter_username }}
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin"></i> {{ site.linkedin_username }}
            </a>
        </li>{% endif %}
        {% if site.google_plus_username %}<li>
            <a href="https://plus.google.com/+{{ site.google_plus_username }}">
            <i class="fa fa-google-plus"></i> {{ site.google_plus_username }}
        </a>
        </li>{% endif %}
        {% if site.xing_username %}<li>
            <a href="https://www.xing.com/profile/{{ site.xing_username }}">
            <i class="fa fa-xing"></i> {{ site.xing_username }}
            </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
